/* projects.css */
#projects {
    text-align: center;
    padding: 20px;
}

#projects .project {
    display: inline-block;
    text-align: left;
}

.project-preview-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.project-preview-image {
    height: 400px;
}
